
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #000;
    --muted-foreground:250 5% 64.9%;

    --code-purple: 263 70% 50%;
    --code-blue: 217 91% 60%;
    --code-green: 142 76% 36%;
    --code-orange: 25 95% 53%;
    --code-red: 0 72% 51%;
    --code-yellow: 54 91% 68%;
    --code-cyan: 187 85% 53%;
    --code-pink: 316 70% 68%;

}





body {
    background: var(--foreground);
    color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    border: gray 
}


