apiVersion: apps/v1
kind: Deployment
metadata:
  name: colab-frontend
  namespace: colab-app
  labels:
    app: colab-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: colab-frontend
  template:
    metadata:
      labels:
        app: colab-frontend
    spec:
      containers:
        - name: colab-frontend-app
          image: tekluman/colab-frontend:v1.0.9
          ports:
            - containerPort: 3000
              protocol: TCP
          env:
            - name: PORT
              value: "3000"
          envFrom:
            - secretRef:
                name: colab-frontend-secret
          resources:
            limits:
              cpu: "1000m"
              memory: "768Mi"
            requests:
              cpu: "500m"
              memory: "384Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 12
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 120
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 6
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsUser: 1001
        runAsGroup: 1001
        runAsNonRoot: true

