apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: colab-app
spec:
  type: NodePort
  selector:
    app: colab-frontend
  ports:
    - protocol: TCP
      port: 80    
      targetPort: 3000  
      nodePort: 30080  
